[2012-03-08 04:16] plentz opened #1 "support for `change` migrations"
add support for the newer migrations that use `change` instead of `up` and `down`

[2012-04-28 14:59] #1 closed, assigned to nobody

[2012-04-30 13:04] plentz opened #3 "fix the tests"
in the process of improving lol_dba compatibility with rails 3.x, I've broke some tests. fixe'm all!

[2012-05-20 17:36] sadfuzzy opened #4 "Errors"
[code]

[2012-05-23 02:54] jgarber opened #5 ":class_name in has_many is not handled"
Nice of you to solicit this feedback!

The error:

[code]

The association:

[code]

The memberships schema:

[code]

[2012-05-24 05:46] tonyjiang opened #6 ":class_name in has_many is not handled"
The following association is correct:

  has_many :user_disliked_links, :class_name => "DislikedLink"

But :class_name is probably not handled, because I got this error message.

[code]

In reality, the constant should be 'DislikedLink'.

[2012-06-12 06:47] fruwe opened #7 "one or two bugs... maybe related to custom table name"
Very well done! I like this recommendation to report an error

[code]

It looks like two bugs to me... Whereas the second bug might be caused, due to a different db and table name.

[code]

[2012-08-14 12:28] michaelstalker opened #8 "Index column is incorrect when subclasses are involved"
I'm not positive I pinned down the problem in the issue title, but here's what's happening.  A line generated by lol_dba reads like this: `add_index :foo, [:bar_id, :subclass_id]` when it should read like this: `add_index :foo, [:bar_id, :baz_id]`

Here's my class structure:

[code]

It looks like lol_dba is using the subclass name instead of the parent class name for some reason.

[2012-09-14 08:42] mhenrixon opened #10 "acts_as_taggable problem?"
I was told to put this here, no idea why this happens because it does create the actual index regardless.

[code]

[2012-10-08 13:17] leonardoprg opened #11 "generate index name too long"
limit is  64 characters

[2012-12-21 08:21] ali-bugdayci opened #13 "source option in the model can not be found"
I have 2 models, such as:

[code]

lol dba has a problem with the source attribute. Here is the log:

[code]

[2012-12-21 09:18] #11 closed, assigned to nobody

[2012-12-21 10:37] #13 closed, assigned to nobody

[2012-12-21 10:38] #4 closed, assigned to nobody

[2012-12-21 10:46] #6 closed, assigned to nobody

[2012-12-21 10:51] #10 closed, assigned to nobody

[2012-12-21 12:33] #5 closed, assigned to nobody

[2012-12-21 21:27] #3 closed, assigned to nobody

[2012-12-22 12:29] #8 closed, assigned to nobody

[2013-01-17 16:10] #7 closed, assigned to nobody

[2013-01-29 16:32] plentz opened #14 "error while trying to generate .sql files and the project have migratons created by rake my_engine_engine:install:migrations"
db/migrate/20130123180738_add_avatar_to_user_preferences.harvey_engine.rb

[code]

error:

[code]

[2013-01-29 16:54] #14 closed, assigned to nobody

[2013-01-31 21:09] plentz opened #15 "error while generating .sql migrations with indexes modifications"
first we need to understand how lol_dba works: it basically runs every migration of your application "against the current database". what it actually does is redirect the scripts that should be executed in the database to it's corresponding .sql file.

now, lets dig in the bug. there's 2 situations with indexes where an error will happen:
- if you have a `remove_index` migration
- if you have a `a

[2013-01-31 23:38] #15 closed, assigned to nobody

[2013-03-04 23:27] plentz opened #16 "sign this gem"
https://guides.rubygems.org/security/

[2013-06-27 01:16] cgat opened #22 "lol_dba tries to create indexes on columns that don't exist in the table"
Here's the output of `bundle exec rake db:find_indexes` when run on my rails 3.2.12 app:
[code]

And you can see my schema here: https://gist.github.com/cgat/5873205

I've put an arrow next to a few of the failing indexes (the table does not contain the column).  It seems to be creating indices for has_many and has_many through relationships (that's my best guess).

Here are the relationships from

[2013-07-04 04:21] manoj2411 opened #23 "Not working for some associations"
[code]

[code]

[2013-07-27 18:52] plentz opened #24 "support rails 4.x"

[2013-07-27 18:56] #24 closed, assigned to plentz

[2013-08-12 10:03] chetanbissa27 opened #25 "Not working with has_many + through"
[code]

[2013-09-30 13:43] gbonline opened #26 "Some indexes on column that doesn't exists"
Hi, i found this gem and i tried it. but the output have one index on column that doesn't exists: the signed row >> have :serieopt_id that's wrong!
:vehicle_optionals table is a habtm table, so it have only two column: vehicle_id and optional_id, but :serieopt is a booleand field of vehicle table!
I hope this help

[code]

[2013-10-05 15:38] #26 closed, assigned to nobody

[2013-10-05 15:42] #23 closed, assigned to nobody

[2013-10-27 21:52] stewartknapman opened #27 "undefined method `reflections' for Categorical:Module"
[code]

I got this one twice.

[2013-12-22 17:18] peterberkenbosch opened #28 "Namespaced models issue"
[code]

The issue is the missing Spree namespace on the Classification. So it should be `Spree::Classification`

[2014-03-28 12:24] xeviknal opened #30 "Through issue"
[code]

Don't know why. Here is the `has_many` association.
`has_many :followed_teams, through: :follow_teams, source: "team"`

Thanks in advance.

[2014-04-10 09:46] uriklar opened #31 "Another through issue"
[code]

[2014-04-16 00:19] #30 closed, assigned to nobody

[2014-04-16 00:22] #31 closed, assigned to nobody

[2014-05-06 15:33] sadfuzzy opened #32 "Exception: undefined method `klass' for nil:NilClass"
[code]

[2014-05-26 13:27] #32 closed, assigned to nobody

[2014-06-30 15:06] chriskilding opened #33 "No gemspec error"
If I install lol_dba as a gem from the Github master branch (to compensate for the fact that the last Rubygems release was some time ago) using `gem 'lol_dba', github: 'plentz/lol_dba'` I get the following error when doing `bundle update`:

[code]

I get the feeling a Gemspec should be present...

[2014-06-30 15:10] #33 closed, assigned to nobody

[2014-07-01 11:31] pareeohnos opened #35 "Error with mssql driver, possibly others"
I'm trying to use `lol_dba` for generating migrations as raw SQL and it is brilliant, but I ran into a problem when testing with SQL server. I'm using jRuby and the source of the active record JDBC driver for SQL server queries the version of the database using `select_value`.

Tracing the source, this eventually calls `select_all` which has be redefined by `lol_dba` to return an array, meaning th

[2014-07-22 14:52] sergey-alekseev opened #36 "Exception with Rails 4.1.1"
[This line](https://github.com/plentz/lol_dba/blob/master/lib/lol_dba.rb#L77) prevents `rake db:find_indexes` from running.
See this issue https://github.com/rails/rails/issues/15767.

[2014-07-31 12:02] diegobernardes opened #37 "Wrong index generation"
I have this tables:

[code]

when i run the command *rake db:find_indexes* it says to add this index:

[code]

But, the table does not have this column.
Did not found anything in the documentation about this.

[2014-08-01 21:11] ericbrooke opened #38 "Cannot define multiple 'included' blocks for a Concern"
[code]

[2014-08-04 19:44] edslocomb opened #39 "warning: previous definition"
The warning looks like this:

[code]

Note it's complaining about a constant being previously defined... on the same line.

Line 18 in activity.rb, and some following lines, looks like this:

[code]

This broken warning only shows up when I include lol_dba in my Gemfile and run `rake db:find_indexes`; if I instead run `bundle exec lol_dba find_indexes`, I get no output at all, which also seems wro

[2014-09-09 11:36] #36 closed, assigned to nobody

[2014-09-20 15:27] #39 closed, assigned to nobody

[2014-09-21 04:52] #27 closed, assigned to nobody

[2014-10-13 12:18] seyhunak opened #41 "Exception: undefined method `klass' for nil:NilClass"
I tested with a Rails 4.2.0.beta2 application, to find missing indexes.
lol_dba gives some warnings, and lists indexes.

Here is the stack trace;

[code]

[2014-10-19 03:31] #41 closed, assigned to nobody

[2014-11-30 18:52] Undistraction opened #42 "Unitialized Constant On Polymorphic Through Association"
First up, here is the dump when I run `rake db:find_indexes`:

[code]

The app is working fine and the relevant setup is:

[code]

[2015-01-03 02:21] iabdulin commented on #37
same with rails 4.1.6 and lol_dba-1.6.4

[2015-01-08 21:33] artmees opened #43 "Support of No-SQL dbs"
Is there any future plan for supporting no-sql databases like mongodb (through Mongoid ORM) ?

[2015-01-09 08:51] wpp commented on #25
I also ran into this today. But in my case the source of the [problem is in line 121](https://github.com/plentz/lol_dba/blob/master/lib/lol_dba.rb#L121).

Where `reflection_options.options[:through]` is a symbol `:participations` but the keys in `class_name.reflections.keys` are all strings `"participations"`.

I'm running Rails 4.2.0 and Ruby 2.2.0

[2015-02-28 18:44] ArnarTumi commented on #37
Same here, rails 4.0.12 and lol_dba-1.6.4

[2015-03-06 11:04] jvenezia commented on #42
I think this may be related...

[code]

[2015-03-10 23:31] vraravam commented on #25
Same case with me. has_many with through, all calls (in the lol_dba.rb file) to any of the .reflections[] hash have to be accessed via string keys (ie adding .to_s) fixes the problem. Please fix asap!

[2015-03-13 15:32] Austio commented on #42
Getting same issue on polymophic on rake with similar exception

[2015-03-15 02:56] plentz commented on #43
@artmees not really, but pull requests are always welcome(even more if they have tests :smile:  )

[2015-03-15 02:56] #43 closed

[2015-03-15 02:57] #38 closed

[2015-03-15 02:58] #28 closed

[2015-03-15 04:20] plentz commented on #25
Hey guys, grap 1.6.5 while it's hot. it should fix the problem. huge thanks to @wpp :)

[2015-03-15 04:28] plentz commented on #37
this can be reproduced even in the current tests. I will look at this right now

[2015-03-15 08:23] wpp commented on #25
@plentz glad I could help! Enjoy your weekend.

[2015-03-15 08:33] plentz commented on #37
@diegobernardes @panozzaj @MaxPleaner @jplethier @ArnarTumi @iabdulin hey guys, I just released v1.6.6 that should fix this problem. give it a try and let me know if you still have some problem

[2015-03-15 08:33] plentz commented on #22
@cgat @chuyihuang @PikachuEXE @giedriusr @tecnobrat hey guys, I just released v1.6.6 that should fix this problem. give it a try and let me know if you still have some problem

[2015-03-15 16:25] plentz commented on #42
@Undistraction @jramos @jvenezia @Austio hey guys, could you try v1.6.6 and see if the bug still happens?

[2015-03-15 16:28] plentz opened #45 "test against multiple rails versions"
http://www.schneems.com/post/50991826838/testing-against-multiple-rails-versions/

[2015-03-15 18:12] jeffblake opened #46 "Undefined method constantize for Class"
This gem seems to fail when an association `class_name` option is provided as a class rather than a string.

`Exception: undefined method `constantize' for #<Class:0x000001100c2040>`

[2015-03-15 20:58] plentz commented on #46
@jeffblake could you provide an example? I don't understand what you mean by "as a class rather than a string"

[2015-03-15 21:03] plentz commented on #46
and btw, it would be awesome if you can provide the full error message

[2015-03-15 21:05] plentz commented on #42
and btw, I will be more then happy to fix this asap if someone can help me build a test case for that(just replicate your namespaced problem here https://github.com/plentz/lol_dba/tree/master/spec/fixtures and create a pull request with the failing bug).

[2015-03-16 03:17] PikachuEXE commented on #25
I am using rails `4.1.9`.

I have the same error again in `1.6.6`.
`1.6.4` runs fine without error but would cause #22 (of course).
`1.6.5` runs with same error AND cause #22.

[2015-03-16 03:21] plentz commented on #25
@PikachuEXE can you please paste the error message?

[2015-03-16 03:25] PikachuEXE commented on #25
@plentz sure:
http://pastebin.com/fLRR6mpc

[2015-03-16 04:20] vraravam commented on #25
This would have been solved if my PR had got accepted :(

[2015-03-16 09:42] stonehz commented on #35
hi,
I had the same problem and found a workaround...
I managed to bypass the issue by adding the sql_version in the database.yml file
[code]

[2015-03-16 12:52] plentz commented on #25
@PikachuEXE It's kinda hard just looking for that exception - I think it's something related to the namespaced models that you have. Could you do me a *huge* favor? Fork lol_dba, create a model that causes the exception(it can be a simplified one, not the entire copy of your model) here in `spec/fixtures` and make a pull request. You don't need to create the test or else, just the model that break

[2015-03-16 14:15] Austio commented on #42
Just ran against 1.6.6 and am getting this on alot of my tests now.

Class: Network
Association type: has_many
Association options: {:through=>:contacts}
Exception: undefined method `klass' for nil:NilClass

[2015-03-16 14:24] plentz commented on #42
@Austio what version of rails you're using? can you send a reduced model that reproduces your problem? I will try to fix this asap :)

[2015-03-16 14:25] Austio commented on #42
No problem, wanted to add more data here.  The models are pretty complex in mine and have alot of module stuff.

***************************
Class: Post
Association type: has_many
Association options: {:class_name=>"::SupportCategory", :through=>:categories_posts, :source=>:categories}
Exception: undefined method `klass' for nil:NilClass
/home/talos/.rvm/gems/ruby-2.0.0-p481/gems/lol_dba-1.6.6/lib

[2015-03-16 14:26] Austio commented on #42
rails is 4.1.4

[2015-03-16 14:37] Austio commented on #42
This was the simplest case i could find.

class Network
 has_many :files,     through: :contacts

class Network
  class Contact #this is nested
    has_many :files,   foreign_key: :network_contact_id

[2015-03-16 14:54] vraravam commented on #25
Sorry - I didnt see the last 2 changed lines - my bad. The changes that I had done made all of my code to run - but, I didnt run the tests themselves (again my bad). Thanks for fixing. Is there a newer version of the gem with these latest changes? BTW - great gem!

[2015-03-16 15:40] plentz commented on #25
@vraravam yup. I released version 1.6.6 yesterday, so you can give it a try :)

[2015-03-16 15:42] plentz commented on #42
@Austio thanks a lot. I will try to look at it today. I will add tests to be sure that we don't break it again in the future :)

[2015-03-17 03:17] PikachuEXE commented on #25
@plentz What I can do/run to make sure the model created actually causes the exception?
Run spec?

[2015-03-17 03:21] plentz commented on #25
@PikachuEXE yup. `bundle install && bundle exec rspec spec`

[2015-03-18 02:04] PikachuEXE commented on #25
See #47

[2015-03-18 12:49] #45 closed

[2015-03-19 14:23] plentz commented on #25
thanks to @PikachuEXE, now we have a *way better* test suite, testing against ruby 2.0,2.1,2.2 and ruby-head, and against a the main rails versions. It's a lot better to find the problems right now - and most of then are related to which version of rails that is being used

[2015-03-21 20:08] plentz commented on #46
please, test with `1.6.7`, it should be fixed :)

[2015-03-21 20:08] #46 closed

[2015-03-21 20:11] plentz commented on #25
@vraravam @wpp @midwire @chetanbissa27 @MrHubble @Radsbhatt @amnesia7 @szeryf please, test lol_dba `1.6.7`, it should be fixed :)

@PikachuEXE thanks again, you rock :)

[2015-03-21 20:12] plentz commented on #42
@Undistraction @jramos @jvenezia @Austio hey guys, test it again using `1.6.7`. I've fixed a few issues related with older rails versions :)

[2015-03-21 20:12] #42 closed

[2015-03-22 00:08] plentz opened #49 "index creation inconsistencies"
we should add tests to make sure that every version find the same indexes

[code]

[2015-03-22 10:50] amnesia7 commented on #25
@plentz sorry but I've tried `1.6.7` and it still doesn't work for me. I'm using rails `4.1.9`

My issue may be slightly more complex than some because my `has_many` are actually for polymorphic tables:

[code]
(using `acts_as_taggable_on` gem) causes:
[code]
Another example I have is user favourites:
[code]
which causes:
[code]
I've tried to include just the relevant code but let me know if there

[2015-03-22 20:24] plentz commented on #25
@amnesia7 if you can create a pull request creating model classes that causes your problem(without - using acts_as_taggable_on - here https://github.com/plentz/lol_dba/tree/master/spec/fixtures it would be awesome). With that it will be a lot easier to fix the problem and ensure that it will not happen in the future. The stacktrace can be helpfull as well.

[2015-03-23 03:30] PikachuEXE commented on #25
I got similar error message about `options` as well
I don't have `acts_as_taggable_on` gem

I don't have to time to try to reproduce it until Friday :S

[2015-03-23 03:42] plentz commented on #25
I already saw that rails 4.2(for some reason) generate less wrong indexes (#49)

[2015-03-23 15:12] Austio commented on #42
@plentz was able to run this on 1.6.7

Thanks so much for you help and this gem.

[2015-03-24 00:43] plentz commented on #22
I've found that using different versions of rails generate different indexes. Looking at the output of our tests, using rails 4.2 seems to fix all the problems. But I want to fix it for every version. So I've created the branch issue_22, if someone wants to give it a try :)

[2015-03-24 00:44] plentz commented on #49
actually, it duplicates #22

[2015-03-24 00:44] #49 closed

[2015-03-24 09:44] jvenezia commented on #42
Hi @plentz , thanks for working on this.
Unfortunately, I still have the exact same error using **1.6.7**.
I'm on Rails **4.0.13**.
It may be related with acts-as-taggable-on gem https://github.com/mbleigh/acts-as-taggable-on which uses polymorphic associations.

[2015-03-24 10:05] jvenezia commented on #42
It's because I needed to create models for acts-as-taggable-on, and wrote associations.

[code]

I think this should be ignored, I don't know how.
The gem already sets up few indexes, and I don't think I need more:

[code]

[2015-04-09 18:35] luizkowalski opened #51 "lol_dba doesn't work when you have multiple models with namespace"
I have a structure like that
![screen shot 2015-04-09 at 15 30 44](https://cloud.githubusercontent.com/assets/112706/7073966/6f37bcdc-decd-11e4-8ce3-5d7fe9e65a2f.png)
and I'm trying to runnin lol_dba on the classes that lives inside 'model' folder, not models on subfolders like 'tweek' and 'taste_profiler' but lol_dba tries to analyze classes from subfolders.
Is there a way to configure lol_dba?

[2015-04-13 12:22] serg-kovalev opened #52 "Add Ruby version Runtime Dependencies"
Hello,
You wrote that you still support `ruby 1.9.3`. But I found it hard to install the last `1.6.x` version of `lol_dba` using `gem 'lol_dba'` in my `Gemfile`.
[code]
Btw, I have successfully installed `1.5.x` version that is compatible with `ruby 1.9.3`.
In my `Gemfile` I have the runtime dependency for ruby. So I think it would be useful to update runtime dependency for this gem `lol_dba`.
Do

[2015-04-15 20:59] timvoet opened #53 "Error running db:findindexes"
[code]

[2015-04-17 22:16] amnesia7 commented on #25
@plentz just a quick message to let you know that I've not forgotten about the pull request that you've asked for; I've just not had time to do it yet...

[2015-04-19 19:57] plentz commented on #52
@serg-kovalev you're right. since `1.6.5` I've increased the require ruby to 2.0(which was wrong, I should have released something like `1.7` or even `2.0`. I will do that today to avoid confusion.

[2015-04-19 19:57] #52 closed

[2015-04-19 20:14] plentz commented on #51
@luizkowalski currently we don't have a way to do that. btw, we already [filter out](https://github.com/plentz/lol_dba/blob/master/lib/lol_dba.rb#L79) classes that doesn't have `ActiveRecord::Base` as an ancestors. What version of rails you're using? Can you create an test case([here](https://github.com/plentz/lol_dba/blob/master/spec/associations_index_spec.rb)) to reproduce your problem?

[2015-04-19 20:15] plentz commented on #25
@amnesia7 awesome. take your time :)

[2015-04-19 20:30] plentz commented on #53
@timvoet what version of rails you're using? can you try with lol_dba 2.0.0 and paste here the error message? the version you're using was wrongly tagged in the souce code, so that line doesn't match the actual tagged source code.

[2015-04-19 21:03] luizkowalski commented on #51
Well, turns out my classes inside taste_profiler and tweek extendes another class which extends `ActiveRecord::Base` I'll try to reproduce it in another project. Also, I'm using Rails 4.2.1

[2015-04-20 10:14] chaadow opened #54 "Error running rake db:find_indexes"
[code]

[2015-04-20 10:17] chaadow commented on #54
Similar to #53
Rails version : 3.2.21
lol_dba : 2.0.0

[2015-04-20 10:18] chaadow commented on #54
It generated the migration to run eventually, but I got this error message along the way

[2015-04-20 21:22] plentz commented on #54
@chaadow it's the same problem of #53 for sure, the difference is just that you're using the newest version. I'm closing it and you can keep an eye there, ok? :)

[2015-04-20 21:22] #54 closed

[2015-04-21 15:31] westonganger opened #55 "Create differently titled migration if migration exists already"
I have previously run `rails g migration AddMissingIndexes`

I wanted to run it again but there is a name clash with the previous migration. Would be helpful it it automatically added a number to the name or something or had an options to manually change the name

[2015-04-21 15:37] westonganger opened #56 "Handle too long index name"
MySQL has a limitation on the length of the index name, not sure if it applies to other databases as well

Would be nice if it automatically shortened the name of the index

Its done like this with the extra name attribute

[code]

[2015-04-21 19:04] luizkowalski commented on #51
I ended up removing other classes which doest inherit from ActiveRecod::Base, but now I'm seeing this:
[code]

[2015-04-21 20:42] plentz commented on #51
I think you removed something that you shouldn't in the Gemfile. Can you double check it?

[2015-04-21 20:45] luizkowalski commented on #51
I don't even touched my Gemfile...actually, lol_dba is on group :development, :test. Could this be te problem?

[2015-04-21 20:49] luizkowalski commented on #51
Ok, that was the problem...Fixed and `Yey, no missing indexes found!` hahahaha
Closing this

[2015-04-21 20:49] #51 closed

[2015-04-21 21:06] plentz commented on #51
@luizkowalski awesome! thanks for the feedback

[2015-05-01 15:53] johnsonj commented on #53
I'm getting a similar error using lol_dba 2.0.0, rails 3.2.18, ruby 2.1.0. Happy to diagnose further.

[code]

[2015-05-02 15:36] plentz commented on #55
@westonganger PR's are welcome. All you need to do is check if the file already exists before printing [this message](https://github.com/plentz/lol_dba/blob/master/lib/lol_dba.rb#L9).

[2015-05-02 15:39] plentz commented on #53
@johnsonj can you send a PR or code snipped that breaks our tests with the same error? You just need to add the same kind of mapping that you have here https://github.com/plentz/lol_dba/tree/master/spec/fixtures

thanks in advance!

[2015-05-12 19:56] amnesia7 commented on #25
@plentz hopefully https://github.com/plentz/lol_dba/pull/58 should be right for polymorphic-has-many-through.

[2015-05-15 17:07] roomthirteen opened #59 "Exception: undefined method `options' for nil:NilClass"
[code]

[2015-06-03 00:23] westonganger commented on #55
I misunderstood what this was supposed to do. I thought it automatically created a migration file. The best solution I came up with was this but its probably not great and im not sure if using system commands are frowned upon and it will probably slow down the command somewhat significantly.

[code]

I would then take that number+1 and append it to the migration name. I also may have to check for

[2015-06-04 15:56] plentz commented on #55
@westonganger I think that the idea of getting the count is cool, but this way we will depend on grep. I think that's better to use ruby's File API to check if we already have any migration. What do you think?

[2015-06-04 17:25] westonganger commented on #55
Yeah that would be better I just whipped it up quickly. Now that we are ensuring its an unused name is it desired to actually run rails g migration AddMissingIndexes3 and fill the file with the information?

[2015-06-23 21:32] wconrad commented on #59
I'm getting this also.

[2015-07-14 11:16] richardrails commented on #59
me too

[2015-07-16 22:34] DrMavenRebe commented on #59
me too.

[2015-07-16 22:35] DrMavenRebe commented on #25
++

[2015-07-19 02:50] plentz commented on #59
can someone create a pull request just with a failing test for this one? btw, what version of rails are you guys using?

[2015-07-27 12:33] shekibobo commented on #59
Got this on Rails 4.2.3.

[2015-08-03 23:01] nuclearspike commented on #59
+1 This happens for me also. It's probably important to note that the places where I see this, they have polymorphic associations.

Topic has_many rank_summaries as rankable. rank_summary has many ranks.
Topic has_many ranks through: :rank_summaries

v4.2.3

[2015-08-03 23:09] nuclearspike opened #60 "Polymorphic indexes invert field order and thought of as non-existing"
In my original migration, consider something like this:

[code]

This will create a "index_comments_on_commentable_type_and_commentable_id" (note the order of the fields)

When I run the gem, it will tell me that I should create an index on
`create_index :comments, [:commentable_id, :commentable_type]`

This is a handy tool, as a starting point. I only could really add 3 of the 13 or so indexes it

[2015-08-04 05:00] tanut-v commented on #59
Rails 4.1.8

[code]

[2015-08-04 10:10] klaut commented on #25
Having the same problem.
+1

[2015-08-21 18:09] andywenk commented on #59
Rails 4.2.1

    Class: Player
    Association type: has_many
    Association options: {:through=>:subscriptions}
    Exception: undefined method `options' for nil:NilClass
    /Users/andwen/project/sumcumo/ace/vendor/ruby/2.2.0/gems/lol_dba-2.0.0/lib/lol_dba.rb:129:in `block (2 levels) in check_for_indexes'
    /Users/andwen/project/sumcumo/ace/vendor/ruby/2.2.0/gems/lol_dba-2.0.0/lib/lol_dba.rb:

[2015-09-03 15:40] yrral86 commented on #59
Rail 3.2.21

    Class: Competition
    Association type: has_many
    Association options: {:through=>:awards, :extend=>[]}
    Exception: undefined method `options' for nil:NilClass
    /usr/local/rvm/gems/ruby-2.1.5/gems/lol_dba-2.0.0/lib/lol_dba.rb:129:in `block (2 levels) in check_for_indexes'
    /usr/local/rvm/gems/ruby-2.1.5/gems/lol_dba-2.0.0/lib/lol_dba.rb:92:in `each_pair'
    /usr/loca

[2015-09-03 15:48] yrral86 commented on #59
PR here: https://github.com/plentz/lol_dba/pull/61

[2015-09-03 16:02] yrral86 opened #62 "Weirdness with active_admin"
db:find_indexes gives me this:

    add_index :active_admin_comments, [:["resource_id", "resource_type"]]
    add_index :active_admin_comments, [:["author_id", "author_type"]]

which is obviously not valid ruby.

I already have these indexes defined:

    add_index "active_admin_comments", ["author_type", "author_id"], :name => "index_active_admin_comments_on_author_type_and_author_id"
    add_ind

[2015-09-12 21:23] plentz commented on #62
@yrral86 what version of lol_dba are you using? and what version of rails? thanks in advance :)

[2015-09-12 21:26] plentz commented on #60
@nuclearspike if you look at the source code, we always sort the index fields, so it makes sense. do you have any suggstions?

in the case of the fields that aren't on the table, can you create a test case to reproduce the problem? (I already fixed some of the problemas related with this, so make sure you're using the latest version ;) )

[2015-09-12 21:28] plentz commented on #60
(#22 is the issue that I was talking about. btw, some of the problems are restrict to some rails versions due to differences in the way it returns metadata)

[2015-09-16 01:09] yrral86 commented on #62
Rail 3.2.21
lol_dba 2.0.0

[2015-09-16 01:10] yrral86 commented on #62
activeadmin 0.6.6

[2015-09-20 22:09] joshuapinter commented on #59
:+1: On Rails 3-2-stable.

[2015-09-24 07:14] nitinkhairnar commented on #59
Rails 3.2.18

Class: Spree::Product
Association type: has_many
Association options: {:through=>:variants, :order=>"spree_variants.position, spree_variants.id, currency", :extend=>[]}
Exception: undefined method `options' for nil:NilClass
/Users/nitin/.rvm/gems/ruby-2.1.1/gems/lol_dba-2.0.0/lib/lol_dba.rb:129:in `block (2 levels) in check_for_indexes'
/Users/nitin/.rvm/gems/ruby-2.1.1/gems/lol_dba-

[2015-10-17 01:52] lowjoel opened #63 "Polymorphic associations with explicit source trips lol_dba"
Hi there, I'm a developer on Coursemology (repo: Coursemology/Coursemology2), and I'm setting up lol_dba. Running db:find_indexes fails:

[code]

Probably because we're using somewhat exotic options, in part due to the hzamani/activerecord-acts_as gem.

[2015-10-23 23:05] plentz commented on #63
Thanks for the report - patches are welcome :dancers:

[2015-10-24 00:13] #53 closed

[2015-10-24 00:13] plentz commented on #53
@timvoet @johnsonj sorry for taking so long. fixed :)

[2015-10-24 00:40] plentz commented on #59
hey guys! I think it's fixed(finally!). can you give a try to 2.0.1 and say if it's ok? :dancers:

[2015-10-24 00:40] plentz commented on #25
hey guys! I think it's fixed(finally!). can you give a try to 2.0.1 and say if it's ok? :dancers:

[2015-10-24 00:57] plentz commented on #63
btw, holly molly. what a weird situation. can you test using 2.0.1 that I just released?

[2015-10-24 00:58] plentz commented on #62
Hi @yrral86! I want to ask you another favor. Can you provide test cases for those classes as well? :heart:

[2015-10-24 01:02] johnsonj commented on #53
Thank you!
On Fri, Oct 23, 2015 at 5:13 PM Diego Plentz <notifications@github.com>
wrote:

[2015-10-24 01:50] lowjoel commented on #63
No banana, still getting the same thing:

Class: Course
Association type: has_many
Association options: {:through=>:lesson_plan_items, :source=>:actable, :source_type=>"Course::LessonPlan::Event"}
Exception: uninitialized constant Course::LessonPlan::Item::Actable
D:/Development/Projects/Coursemology/vendor/bundle/ruby/2.2.0/gems/activerecord-4.2.4/lib/active_record/inheritance.rb:158:in `compute_

[2015-10-24 01:51] plentz commented on #63
@lowjoel well can you create a PR just with the model that causes the problem?

[2015-10-24 01:58] lowjoel commented on #63
I am guessing that source_type isn't being adhered to. I'll probably go dig into the stack trace.

[2015-10-24 02:03] lowjoel commented on #63
It does seem to be a shorter list of errors, though...

[2015-10-24 02:10] lowjoel commented on #63
I think this is the problem.

When you see a has_many through, the code assumes that the intermediate relation is a has_many. In my case, the intermediate relation is a polymorphic belongs_to. So it's a has_many because of the first relation, not the through the relation.

`through_class.reflections.stringify_keys[source.to_s]` will return the belongs_to relation, and since it's polymorphic, there

[2015-10-24 02:18] lowjoel commented on #63
I changed the block in lol_dba.rb:124 to this:

[code]

[2015-10-24 02:25] plentz commented on #63
@lowjoel I was doing something almost identical. Can you point your Gemfile to `https://github.com/plentz/lol_dba/tree/issue_63` and see if it's working?

[2015-10-24 02:36] lowjoel commented on #63
The branch doesn't work. The crucial fix is this line:

[code]

In the branch you pushed, it would use the relation as the association name, which is not what `source_type` is. `source_type` is the name of the model (in my case Course::LessonPlan::Event) to use, not the name of the association. So `through_class.reflections.stringify_keys[source.to_s]` returns nil now.

[2015-10-24 05:51] nitinkhairnar commented on #59
No, it is not fixed.

[2015-10-24 12:23] amnesia7 commented on #25
@plentz I'm not sure that it's fixed because I've updated to 2.0.1 and run the `db:find_indexes` and got the following:
[code]
Any ideas what could've happened here?

[2015-10-24 13:01] plentz commented on #59
@nitinkhairnar can you send just the model that is causing the exceptions in your case with the (updated) stacktrace?

[2015-10-24 21:08] joshuapinter opened #64 "Polymorphic association generates migration with syntax error."
Hey there.

Using v 2.0.1 out of master. I have an Attachment model that is polymorphic with the following definition in the model:

[code]

Using `rake db:find_indexes` it generates the following migration suggestion:

[code]

And when running `rake db:migrate` I get:

[code]

I can look into it if you want to point me in the right direction...

Thanks!

[2015-10-24 21:47] joshuapinter opened #65 "has_and_belong_to_many with class_name option generates the wrong add_index migration."
I have a `has_and_belong_to_many` (HABTM) between `User` and `Account`.

The association definitions are as follows:

[code]

The resulting index from `lol_dba` is:

[code]

Essentially it is ignoring the `class_name` option in the HABTM association definition.

I call the association from `User` to `Accounts`, `accessible_accounts` because I have a method called `accounts` that checks to see if t

[2015-10-26 09:20] ombr commented on #59
I am getting the same error :

Rails 4.2.4

Class: Album
Association type: has_many
Association options: {:through=>:images}
Exception: undefined method `options' for nil:NilClass
/opt/boxen/rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/lol_dba-2.0.0/lib/lol_dba.rb:129:in `block (2 levels) in check_for_indexes'
/opt/boxen/rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/lol_dba-2.0.0/lib/lol_dba.rb:9

[2015-10-30 13:01] RST-J opened #66 "Exception: comparison of Symbol with String failed"
In some class I have an HABTM association defined where the foreign key is given as symbol which leads to the exception in the title. Changing the symbol to a string fixes this issue, so there probably is some `to_s` missing somewhere.

`has_and_belongs_to_many :teams, association_foreign_key: :circle_id` is bad
`has_and_belongs_to_many :teams, association_foreign_key: 'circle_id'` is fine

[2015-10-30 13:06] RST-J opened #67 "table does not exist"
Unfortunately there is no more output there which I could provide.
If you give me a hint, I'll look into the details.

I suspect there is some problem with `has_many through:` associations, maybe in combination with STI, as Team is a subclass of another model.

[2015-10-31 23:20] plentz commented on #66
@RST-J can you paste the exception that's being thrown? :)

[2015-11-02 11:14] RST-J commented on #66
[code]

[2015-11-26 15:00] Vorob-Astronaut commented on #64
have the same error too

[2016-01-09 19:07] #64 closed

[2016-01-09 19:10] plentz commented on #64
@joshuapinter @Vorob-Astronaut hey guys. I've just released `2.0.2` with a fix for this. Can you test it, please? Feedback appreciated :)

[2016-01-09 19:30] #66 closed

[2016-01-09 19:31] plentz commented on #66
@RST-J I've just released `2.0.3` that should fix this problem :)

thanks for the report :)

[2016-01-09 19:33] plentz commented on #62
@yrral86 I've just released `2.0.3` which should fix this problem. This was the same problem of #64 :)

[2016-01-09 19:33] #62 closed

[2016-01-09 19:33] plentz commented on #64
(duplicates #62, btw)

[2016-01-10 16:00] wbotelhos commented on #37
Same here with `rails 4.2.5` and `lol_dba 2.0.3`:

[code]

By the way the column `unit_id` was removed but appears here:

The migration that removes it:

[code]

The current unit schema:

[code]

Any idea?

[2016-01-10 23:07] plentz commented on #37
@wbotelhos can you create a test case that reproduces the problem? Why I asking this: we have [this](https://github.com/plentz/lol_dba/blob/master/spec/associations_index_spec.rb#L41) that ensures exactly this(or should guarantee).

[2016-03-08 22:49] agrimm opened #71 "Not idempotent"
I ran `lol_dba db:find_indexes` once, made a few changes, and ran it again, and the ordering was different. Maybe it's because it searches for files and the order in which they get returned depends on when they were last modified.

A simple alphabetical search at some stage of the process should fix this.

[2016-07-26 12:58] brandonparsons opened #72 "Can't find table if using database schemas"
I'm using database schemas in my app (via `Apartment`). For tables that aren't schema-constrained, they are prefaced by `public`. e..g: `public.users`.  `lol_dba` can't seem to find the tables in this case.

Any way to get this working?

[code]

[2016-08-06 14:52] plentz commented on #72
@brandonparsons I haven't tried to use `lol_dba` with `apartment` yet, but I think that it would take some effort since I imagine that you want to create migrations for each tenant.

One workaround that should work is to set `schema_search_path` inside your `database.yml` for one of your tenant's schemas and then letting `lol_dba` use it to find the indexes and then replicating those indexes to al

[2016-08-07 20:12] brandonparsons commented on #72
I couldn't quite get it to work (I didn't get any output after running `lol_dba db:find_indexes`), but that's ok - I suspect my horrible code and not database indexes are going to be the issue for the forseeable future :)

[2016-08-07 20:21] plentz commented on #72
@brandonparsons ok :)

closing it for now, if you have any other questions, feel free to ask ;)

[2016-08-07 20:21] #72 closed

[2016-08-11 23:36] DexterTheDragon commented on #37
Looks like this is a problem in Rails >= 4.2.3. I created PR #74 that updates the Rails 4.2 version it tests against and shows the failure.

[2016-08-24 22:24] hugocorbucci opened #75 "Remove < 5.0 from gemspec restriction for rails support"
The readme says that the gem is compatible with Rails 5.x but the gemspec restrictions ensure it cannot be 5 or above:
[code]

It might be enough to just change the restriction to less than 6.0

[2016-08-24 22:31] plentz commented on #75
not really. but I'm working on it @ #73. keep an eye there :)

[2016-08-24 22:31] #75 closed

[2016-10-09 05:33] plentz commented on #37
hey guys! it should be fixed @ lol_dba 2.1 that I've just released. give it a try :)

[2016-10-09 05:33] #37 closed

[2016-10-09 05:34] #60 closed

[2016-10-09 05:39] plentz commented on #22
Guys, I've just released 2.1 and I think it fixes this issue. If you still have a problem, please, open a new issue reporting what you're seeing using the latest version.

[2016-10-09 05:39] #22 closed

[2016-10-09 05:42] plentz commented on #67
Hi @RST-J, sorry for taking so long to reply. I just released 2.1 which I think fixes this problem. Since it was so long ago, I think that you can't even test the same scenario, but if you can, please reopen the issue and we can work together to find a fix for this :)

[2016-10-09 05:42] #67 closed

[2016-10-09 06:03] plentz commented on #63
@lowjoel sorry for taking so long to reply. the gem was kind of dormant and now I'm back :)

I've released 2.1 which fix a few things, but not this one. I've created the branch `issue_63` with the changes you proposed and it looks like everything still works. can you help me creating a test case that doesn't work with the previous code and work with the current one?

[2016-10-09 06:11] plentz commented on #65
Hi @joshuapinter! Sorry for taking so long to reply! Can you test using the last version? [this test](https://github.com/plentz/lol_dba/blob/master/spec/associations_index_spec.rb#L75-L79) is exactly the example that you gave and works in all versions :)

[2016-10-09 06:11] #65 closed

[2016-10-09 06:14] plentz commented on #59
hey guys, sorry for taking so long to reply. can someone test version 2.1(that I've just released) and give me the current stacktrace(if it still happen)? It would help a lot if someone can help me create a failing test case

[2016-10-09 06:16] plentz commented on #75
@hugocorbucci just released rails 5 with full support for rails 5(and a few more fixes) :)

[2016-10-09 06:27] hugocorbucci commented on #75
@plentz is the ONE! 😄 👍 💯 🍷 🍻 🍸 🍾
Thank you!

[2016-10-09 07:01] #25 closed

[2016-10-09 07:08] plentz commented on #25
@vraravam @wpp @midwire @chetanbissa27 @MrHubble @Radsbhatt @amnesia7 @szeryf @PikachuEXE @DrMavenRebe @klaut yeah, finally I think that I nailed it in version `2.1.1`. can you guys give it a shot?

huge props to @amnesia7 for the PR(#58) with a scenario of this bug and for @lowjoel for giving me a hint of how to solve this @ #63.

[2016-10-09 07:09] plentz commented on #63
fixed by 594aea5 (version `2.1.1`). thanks a lot 😄

[2016-10-09 07:09] #63 closed

[2016-10-09 08:22] plentz commented on #71
@agrimm can you give an example? what kind of changes?

[2016-10-09 15:19] wconrad commented on #59
Unfortunately, I no longer have access to the repo with which I reproduced the error, as I've changed jobs.  Hopefully someone else will be able to test this.

[2016-10-10 08:18] wpp commented on #25
Seems to work on my side. Get the error on 1.6.4, works as expected in 2.1.1. Thanks @plentz

[2016-10-10 18:02] #71 closed

[2016-10-11 20:03] amnesia7 commented on #25
Might be worth waiting to see if there's any other feedback about this version but I'm not sure it has worked for me.

The error has gone that was being thrown in the terminal when running `bin/rake db:find_indexes` but the indexes being offered don't seem right.

For instance, one is (where thing is favourable):
[code]
but the actual fields on the model are:
[code]
so I was expecting something mo

[2016-10-11 20:11] plentz opened #76 "has_many: inexistent indexes being created in a few cases"
This is being fixed @ `has_many_fix` branch. This is the failing case that should be fixed https://github.com/plentz/lol_dba/commit/bf9c4eb7124d3f998d6cf65ffb3165a2068b4335#diff-d90d1bc62234f746df962016d75e56c8R58

[2016-10-11 20:11] plentz commented on #25
@amnesia7 no, you're right :)

We still have a problem with `has_many` generating inexistent indexes in a few cases (the one I will try to fix @ `has_many_fix` branch). I already added a failing test case here https://github.com/plentz/lol_dba/commit/bf9c4eb7124d3f998d6cf65ffb3165a2068b4335#diff-d90d1bc62234f746df962016d75e56c8R58. I've created the issue  #76 to deal with it

[2016-10-11 20:23] amnesia7 commented on #25
Thanks @plentz , just let me know if you need me to test anything.

[2016-10-12 04:58] plentz commented on #59
@roomthirteen @richardrails @DrMavenRebe @shekibobo @nuclearspike @tanut-v @andywenk @yrral86 @joshuapinter @nitinkhairnar @ombr hey guys, can someone test version `2.1.1` and give me the current stacktrace(if it still happen)?

[2016-10-12 08:21] andywenk commented on #59
@plentz Hey - I try to test it later today ....

[2016-10-12 13:08] roomthirteen commented on #59
@plentz Congrats as of my case, the error is not happening anymore.

[2016-10-13 05:43] plentz commented on #59
@roomthirteen thanks!

[2016-10-16 00:21] plentz commented on #59
closing it. if anybody test it and find the problem, please open a new issue with the stacktrace :)

[2016-10-16 00:21] #59 closed

[2016-11-10 14:31] RST-J commented on #67
The problem still exists. In the meantime I probably got a better understanding about reflections and relations at all - I'll try to come up with a MWE or maybe even a fix.

[2016-11-23 19:02] andyw8 opened #79 "undefined method `version' for ActiveRecord:Module (Rails 3.2.22.1)"
[code]

I'm using the latest version of the gem (v2.1.1).

[2016-11-23 20:37] #79 closed

[2016-12-03 22:10] emilkarl opened #81 "Slash in indexes fails. acts-as-taggable-on"
Tried this with an app that uses acts-as-taggable-on. A reccomended index looks like this but this fails with Rails 4. Any idea how to solve or should the index not be there?

`add_index :taggings, [:acts_as_taggable_on/tag_id, :user_id]`

[2016-12-04 02:34] plentz commented on #81
@emilkarl that's a good question. can you provide a failing case with this or at least the model relevant info?

[2017-03-10 02:14] adambedford opened #82 "undefined method `this`"
I just installed the gem and ran `lol_dba db:find_indexes` and received this output:

[code]

Has anyone run into this before with Rails 5 and Ruby 2.3.1?

[2017-03-13 16:35] plentz commented on #82
@adambedford sorry for taking so long to reply. probably related with some recent changes @ rubygems. I will look at it later today

[2017-04-03 18:59] chmurph2 opened #83 "Output incorrectly reporting missing indexes (sort of)"
After migrating some indexes that were reported missing by this gem, I ran it again, and while I was expecting this:

[code]

I got this output instead:
[code]

This is because [this line](https://github.com/plentz/lol_dba/blob/master/lib/lol_dba.rb#L174) that checks for empty indexes/keys isn't actually empty at that point.  It's only [later](https://github.com/plentz/lol_dba/blob/master/lib/lol_

[2017-04-05 02:34] plentz commented on #83
fixed @ 2.1.2

[2017-04-05 02:34] #83 closed

[2017-04-12 14:15] plentz commented on #82
@adambedford I've just tested using ruby 2.4.1 and the last version of lol_dba and the message didn't show up. Can you test it using the last version?

[2017-05-15 20:48] sfsgagi commented on #82
I am on Rails 4.2 and Ruby 2.3.4 and was getting the same error when I initially tried the simple:
[code]
I was able to resolve it by adding the gem to Gemfile (development group) and then after `bundle`, it worked ok. I am using RVM in case it matters.

[2017-05-22 05:24] AnkurVyas-BTC opened #85 "Mailchimp grouping error"
[code]

[2017-06-26 15:02] ivanovaleksey opened #89 "uninitialized constant LolDba::VERSION"
Hi,

I got an error while trying to check gem version.
[code]

[2017-07-04 13:31] #89 closed

[2017-07-04 14:12] budmc29 commented on #85
I have the same issue like this.

[code]

AsOperation.rb:
[code]

[2017-07-04 14:14] #82 closed

[2017-07-04 14:14] plentz commented on #82
Closing it since it looks like the problem isn't with lol_dba itself

[2017-09-01 12:59] UnConundrum opened #92 "Requested report"
First time use of lol_dba  db:find_indexes generated the following error report:

Class: UserQuery
Association type: has_many
Association options: {:class_name=>:bill, :through=>:billings, :foreign_key=>:paid_bill_id, :source=>:bills}
Exception: undefined method `options' for nil:NilClass
/usr/local/var/rben/versions/2.4.0/lib/ruby/gems/2.4.0/gems/lol_dba-2.1.4/lib/lol_dba.rb:133:in `block (2 leve

[2017-12-08 15:08] adamaiken89 opened #93 "Unresolved specs warning and show nothing in Rails 5.1"
When trying to run `lol_dba db:find_indexes` and the following warning is displayed but nothing related to keys are present.

[code]

Does anyone know how to solve this?

[2018-01-18 16:56] jethroo commented on #81
have this in 3 models with association using `class_name` happens for `has_many` and `belongs_to` (not limited just seeing this for those two in my codebase)

[code]

results in:

[code]

[2018-01-28 04:30] plentz commented on #93
I've tried with the latest lol_dba and it didn't happen.

[2018-01-28 04:30] #93 closed

[2018-03-04 04:29] plentz commented on #92
can you give 2.1.5 a try?

[2018-03-04 05:10] plentz commented on #81
@emilkarl @jethroo @SirRawlins @dandrews @olivierbuffon @matthewford which exact version of rails 4 are you using? I'm trying to reproduce it without success.

PS: if someone want to try to create a test case, it will be super helpfull.

[2018-03-23 22:18] cmason opened #94 "db:migrate_sql is broken for rails versions > 5"
Running `db:migrate_sql` in versions of Rails > 5 results in this error:

[code]

[2018-05-03 01:47] plentz commented on #94
closed by #95

[2018-05-03 01:47] #94 closed

[2018-06-06 11:24] gshopovski opened #97 "Error is printed while executing db:find_indexes"
Even if the error was printed, the task finished with error code 0.
[code]

[2018-06-06 13:33] plentz commented on #97
thanks for reporting! can you post your models?

[2018-06-06 22:41] taleh007 commented on #81
@plentzRails 4.2.2

[2018-06-30 19:28] plentz commented on #16
signed gems insnt being used that much these days. closing.

[2018-06-30 19:28] #16 closed

[2018-09-14 08:05] PirunSeng commented on #56
PostgreSQL also has this problem.

[2018-11-19 01:29] tuykin commented on #76
`foreign_key` and `foreign_type` modifiers are not counted.

Here's my case:
[code]

Index suggested to add:
[code]

[2019-03-13 17:55] plentz commented on #85
closing due to inactivity.

[2019-03-13 17:55] #85 closed

[2019-03-13 17:56] plentz commented on #97
closing due to inactivity.

[2019-03-13 17:56] #97 closed

[2019-04-05 22:30] plentz opened #101 "Intercept Arel calls to suggest indexes"
Intercept Arel querys to allow query specific indexes. Maybe something like this:

[code]
And we suggest an index on `name`

related:
https://github.com/rails/rails/tree/master/activerecord/lib/arel

[2019-04-05 22:31] plentz opened #102 "Return non-zero in case of missing indexes found"
Useful to be used in a build pipeline.

[2019-04-12 18:07] enthusiasmus opened #103 "lol_dba/sql_generator (LoadError)"
After adding the Gem to the Gemfile and executing bundle install, I tried `lol_dba db:find_indexes`, but received following error:

[code]

any ideas?
Thanks in advance!
Best regards,
Lukas

[2019-04-12 18:45] plentz commented on #103
Fixed by #99

[2019-04-12 18:45] #103 closed

[2019-04-12 19:20] enthusiasmus commented on #103
That was fast! Thanks!

[2019-04-22 23:22] ericraio opened #105 "Invalid index recommendation for Doorkeeper Gem"
I am getting this recommendation after installing the door keeper gem.

[code]

Any idea how I can resolve this?

[2019-04-25 02:58] plentz commented on #105
@ericraio are you trying to run lol_dba tests with a new gem?

[2019-04-28 21:11] ericraio commented on #105
No tests or anything like that, I just have a simple test that executes lol_dba

When running `rake db:find_indexes`, it's saying that I need to put an index for doorkeeper's table.

To reproduce,

add the gem lol_dba
and doorkeeper + create doorkeeper tables

[2019-05-17 19:15] ericraio commented on #105
I'd like to highlight that lol_dba is failing because

the model class is `Doorkeeper::Application` and when you convert a nested model like this to underscore, it generates `doorkeeper/application` instead of `doorkeeper_application`

In addition to above,

`add_index :oauth_access_tokens, [:doorkeeper/application_id, :doorkeeper/application_id]`

This would not be the proper table because it is

[2019-05-22 13:24] sobrinho opened #106 "Do not duplicate polymorphic indexes"
The application already have the index but in the inverse order of that lol_dba proposes and it recommends generating it.

I think it won't matter the order of the columns in that case since always both values are provided for this kind of query.

[code]

[2019-05-22 14:10] sobrinho commented on #81
I will make a PR for that.

[2019-06-10 16:02] sobrinho commented on #106
Closing in favor of #107.

[2019-06-10 16:02] #106 closed

[2019-06-10 16:03] sobrinho commented on #102
I will work on that one.

[2019-06-10 17:13] sobrinho commented on #105
I'm working on that on #81.

[2019-06-11 19:26] sobrinho commented on #102
Can be closed in favor of #108.

[2019-06-20 09:51] Epigene opened #109 "Improved polymorphic and STI index suggestions"
Hi!

I am using v2.1.8 and polymorphic indexes are still suggested despite them already being present in different order, see https://github.com/plentz/lol_dba/pull/107

Furthermore, I believe the suggestion should be in the format `[:poly_type, :poly_id]`. This is somewhat of a controversial topic, but the reasoning for putting the type first is that it is more useful:

Pros:
  - Index can be use

[2019-07-23 18:16] zainosaurus opened #110 "Bug with lol_dba cli option parsing"
Using the command `lol_dba:find_indexes` on the command line results in the following error trace:

[code]

Upon further investigation, it seems that the `@options` variable in the `LolDba::CLI` class is not being populated correctly. On line 35 in the `rescue` clause the `@options` variable is an array (not a hash like is expected)

[2019-07-23 18:49] zainosaurus commented on #110
I found the issue, the options hash is not returned from the parse_options method, which is causing this error.

[2019-10-17 13:47] emilkarl commented on #81
Close this?

[2019-10-26 05:16] ericraio commented on #81
Is there a PR for this, still needing this fix

[2019-11-09 12:19] isubas opened #113 "Bundle install error for Rails 6.0.1"
When trying to do `bundle install`, we receive an error like the following:

[code]
Used gem versions:

- rails 6.0.1
- lol_dba 2.1.8

The error seems to be caused by the `< 6.0` version constraint in the gemspec file.

[2020-01-08 21:11] tilsammans commented on #110
@plentz any change this fix is merged and a new version published?

[2020-01-26 23:08] plentz commented on #110
Sorry for taking so long guys. Should be fixed in v2.1.9

[2020-01-26 23:08] #110 closed

[2020-01-26 23:35] plentz commented on #113
I have made initial work at https://github.com/plentz/lol_dba/pull/114/, but there are some tests to be fixed before I can ship it.

[2020-03-29 03:42] #102 closed

[2020-03-29 03:51] plentz commented on #109
Sorry for taking so long to reply @Epigene. I just merged #107 which fixes the order problem.

About the ordering of the index itself, can you provide some references for it? I'm pretty sure that modern databases can use only to search by type even if it's on the second position of the index.

[2020-03-29 05:02] #113 closed

[2020-03-29 05:12] plentz commented on #113
`v2.2.0` is out 😉

[2020-04-01 13:36] isubas commented on #113
Thank you @plentz

[2020-04-16 19:55] supairish opened #115 "Changelog?"
Hello

Is it possible to get a changelog going forward?

Cheers!

[2020-06-02 01:19] Rakhi95 commented on #56
try to give a meaningful name.

[2020-07-29 14:57] Epigene commented on #109
Sorry for taking so long to get back to you on this topic, @plentz. I believe the order of index is as relevant as ever and will probably never be an issue of DB engine modernity.

[MySQL docs](https://dev.mysql.com/doc/refman/8.0/en/multiple-column-indexes.html) state:

Similarly PSQL docs https://www.postgresql.org/docs/12/indexes-multicolumn.html state:

This is easy to see using the `[:last_na

[2020-07-29 15:05] Epigene commented on #109
To be clear, I'm arguing that an index of order `[:poly_type, :poly_id]` is better than `[:poly_id, :poly_type]` because it supports an efficient `WHERE poly_type = 'MyModel'`, which is a common use-case, whereas `[:poly_id, :poly_type]` index supports an efficient `WHERE poly_id = '1'`, which is unlikely to be a use-case.

Both indexes fare equally well when queries have both terms like `WHERE po

[2020-07-29 15:32] Epigene opened #120 "v2.2.0 Unnecessary suggestions for indexes that already exist as leftmost term in another index."
Hi,

Say there's a UniqueEvent model with a `belongs_to :cause` association.
`unique_events` table already has a multi-column uniqueness index like `[:cause_id, :some_type, :uuid], unique: true, name: "very_unique_index"`.

`lol_dba` will still suggest to add a `[:cause_id]` index, even though there already is an index where `:cause_id` is the leftmost term (and no partial indexing is going on).

[2020-09-05 15:32] plentz commented on #120
@Epigene do you know if having an index com a column on the leftmost term has the same behavior in all databases?

[2020-10-20 12:39] Epigene commented on #120
Who can say about all. MySQL and PSQL definitely have the same behavior. Which ones do we seek to support?

[2021-02-26 17:42] sobrinho commented on #56
nowadays rails have an automated index name generation.

This can be closed, @plentz .

[2021-02-28 03:14] #56 closed

[2021-12-16 19:40] westonganger opened #125 "Add support for Rails 7"
Can already be installed on Rails 7 release candidate versions but not on the actual released `v7.0.0`

[2022-07-21 17:08] luisdavim commented on #120
This is not the case fol all MySQL versions....

[2022-07-27 08:06] Epigene commented on #120
@luisdavim It was the case for MySQL at the moment of writing back in 2020 and I doubt anything's changed. Here's the [relevant part from MySQL v8 docs](https://dev.mysql.com/doc/refman/8.0/en/mysql-indexes.html#:~:text=If%20there%20is%20a%20choice,optimizer%20to%20look%20up%20rows.).

Are you referring to some older versions, have any specific ones in mind?

[2022-08-14 14:59] #125 closed

[2022-08-14 15:05] plentz commented on #125
lol_dba 2.4.0 add support to rails 7 😄  sorry for taking this long folks